<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <p>
    <label>Nome: </label>
    <input type="text" formControlName="nome" required>
  </p>
  Professione:
  <div formArrayName="professione">
    <div *ngFor="let skill of professione.controls; let i=index">
      <div [formGroupName]="i">
        {{i}} Linguaggi:
        <input type="text" formControlName="linguaggi">
        Livello:
        <select formControlName="livello" >
          <option *ngFor="let item of data" [value]="item.livello" >
            {{item.livello}}
          </option>
        </select>
        <button (click)="removeProfessione(i)">Rimuovi</button>
      </div>
    </div>
  </div>
  <p>
    <button type="button" (click)="addProfessione()">Aggiungi</button>
  </p>
  <p>
    <button type="submit">Invia</button>
  </p>
</form>

{{this.form.value |json}}
